<div class="about-container" id="about">
    
    <div class="container">
        <section class="about">
            <div class="about-image">
                <img src="yo.png" alt="Imagen de Lucas">
            </div>
            <div class="about-content">
                <h2 id="name">LUCAS</h2>
                <h2 id="surname">SIFUENTES</h2>
                <p>
                    I'm a second-year Computer Science student at the Faculty of Astronomy, Mathematics, Physics, and Computer Science at the National University of Córdoba (Argentina).
                    I also studied at a technical high school specializing in mechanical engineering. I'm a Full Stack web developer with a deep interest in technology and science.
                </p>
                <div class="botones">
                    <a href="#" class="boton2">Contact info&nbsp;<i class="fa-regular fa-envelope"></i></a>
                    <a href="#skills" class="boton1">Download CV &nbsp;<i class="fa-solid fa-file-arrow-down"></i></a>
                </div>
            </div>
            
        </section>
    </div>

    <div class="redes-container">
        <div id="lista-redes" class="contenedor-redes d-flex d-grid gap-2 d-md-flex justify-content-end justify-content-lg-end">
            <app-media></app-media>
        </div>
    </div>
</div>
