<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <img src="LOGO.png" alt="Logotipo">
      <small class="d-block mb-3 text-white">&copy; 2017–2024</small>
    </div>
    <div class="footer-navigation">
      <a href="#hero">Home</a>
      <a href="#about">About</a>
      <a href="#skills">Skills</a>
      <a href="#projects">Projects</a>
    </div>
    <div id="lista-redes" class="contenedor-redes d-flex d-grid gap-2 d-md-flex justify-content-end justify-content-lg-end">
      <app-media></app-media>
  </div>
  </div>
</footer>