<div class="project-card">
  <img src="sb.jpg" alt="Descripción del proyecto 1" class="project-image">
  <div class="image-overlay">
    <a href="https://link-al-proyecto1.com">Live &nbsp;<i class="fa-solid fa-arrow-up-right-from-square"></i></a>
  </div>
  <div class="project-content">
    <div class="project-link-container">
      <a href="https://github.com/tu-repositorio1" class="github-link"><i class="fa-brands fa-github"></i></a>
      <h3>Sabor Porteño</h3>
    </div>
    <p>Descripción breve del proyecto 1. Aquí puedes hablar sobre las tecnologías utilizadas y el objetivo del proyecto.</p>
    <div class="project-tags">
      <span class="project-tag">HTML</span>
      <span class="project-tag">CSS</span>
      <span class="project-tag">JavaScript</span>
      <span class="project-tag">MySQL</span>
    </div>
  </div>
</div>